%h1 관리자 페이지
%br
.menu-options
    = link_to "오늘의 문장 목록", today_sentences_path
    = link_to "오늘의 문장 추가하기", new_today_sentence_path
    = link_to "오늘의 편지 목록", today_letters_path
    = link_to "오늘의 편지 추가하기", new_today_letter_path