// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
    color: #494d82;
    padding-bottom: 284px;
    padding-left: 35px;
    padding-right: 35px;

    .circle {
        margin: 176px auto 0 auto;
        width: 150px;
        height: 150px;
        background-color: #494d82;
        border-radius: 50%;
        display: table;
        .text-wrapper {
            display: table-cell;
            vertical-align: middle;
        }
        .text {
            display: block;
            text-align: center;
            margin: 0 auto;
            color: #f8f1e3;
            font-size: 18px;
            font-weight: 700;
        }
    }

    .img-deco {
        width: 45px;
        display: block;
        margin: 0 auto 72px auto;
        @media screen and (min-width: 768px) {
            width: 41.5px;
            margin: 0 auto 72px auto;
        }
    }

    .desc {
        margin: 19px auto 87px auto;
        text-align: center;
        font-weight: bold;
        line-height: 2.86;
    }

    .text-head {
        margin-top: 69px;
        margin-bottom: 22px;
        font-size: 15px;
        font-weight: 800;
        line-height: 1.67;
        text-align: justify;
        color: #494d82;
    }

    .text-desc {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.67;
        text-align: justify;
        color: #494d82;
        p {
            font-family: 'Nanum Myeongjo', serif;
            font-size: 15px;
            font-weight: bold;
            line-height: 1.67;
            text-align: justify;
            color: #494d82;
            margin-top: 15px;
            margin-bottom: 20px;
        } 
    }

}