// letters.scss

.letter {
    margin-top: 10px;
    margin-bottom: 60px;
    .body {
        background-color: #494d82;
        border-radius: 10px;
        color: #f8f1e3;
        padding: 50px 50px 50px 48px;
        .text {
            margin-top: 18px;
            margin-bottom: 47px;
        }
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Nanum Myeongjo', serif;
        color: #f8f1e3 !important;
    }
    :-ms-input-placeholder {
        color: #f8f1e3 !important;
    }
    ::-ms-input-placeholder {
        color: #f8f1e3 !important;
    }
}

.letter-cover {
    background-image: url(mail@3x.png);
    background-size: cover;
    width: 258px;
    height: 174px;
    margin: 0 auto 67px auto;
    // padding: 0 26px 36px 36px;
    .box {
        background-color: #494d82;
        width: 241px;
        height: 155px;
        position: absolute;
        margin-left: 8px;
        margin-top: 8px;
    }
    .body {
        z-index: 10;
        color: #f8f1e3;
        margin: 20px 19px 36px 36px;
        height: 96px;
    }
    .letter-link {
        text-decoration: none;
    }
    .date {
        margin-top: 31px;
        font-size: 12px;
    }
    .stamp {
        background-image: url(stamp@3x.png);
        background-size: cover;
        width: 26px;
        height: 26px;
        float: right;
        margin-top: -11px;
    }
    .text {
        margin-top: 24px;
        margin-right: 16px;
        line-height: 1.5em;
        font-weight: bold;
        height: 3em;       /* height is 2x line-height, so two lines will display */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.underline {
    text-decoration: underline;
}

.img-wrapper {
    width: 100%;
}

.img-letter-above {
    width: 55px;
    display: block;
    margin: 8px auto 38px auto;
}

.to-me {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.93;
  letter-spacing: normal;
  text-align: justify;
  color: #f8f1e3;
  margin-left: 3px;
  @media screen and (max-width: 768px) {
    margin-left: 6px;
  }
}

.text {
  letter-spacing: normal;
  line-height: 1.79;
  text-align: justify;
  textarea {
    background-color: #494d82;
    font-size: 14px;
    line-height: 1.79;
    font-family: 'Nanum Myeongjo', serif;
    width: 100%;
    color: #f8f1e3;
    border: none;
    text-align: justify;
    white-space: normal;
    resize: none;
    &:focus { 
        outline: none !important;
        box-shadow: none;
    }
  }
}

.from-me {
    font-size: 12px;
    font-weight: bold;
    line-height: 2.04;
    letter-spacing: normal;
    text-align: right;
    color: #f8f1e3;
    .naro {
        margin-right: 3px;
    }
}

a.btn {
    color: transparent;
    &:visited{
        background: transparent;
    }
}

.buttons {
    text-align: center;
    margin-top: 27px;

    .btn-like {
        width: 32.1px;
    }
    .btn-save {
        width: 23.1px;
    }
    .btn-delete {
        width: 22.8px;
    }
    .btn-share {
        width: 22.8px;
    }
    .btn {
        &:not(:first-child){
            margin-left: 27.9px;
        }
    }
}

.btn-wrapper {
    margin-top: 51px;
    margin-right: 5px;
    text-align: right;
}

.today-to-me {
    font-size: 14px;
    text-align: center;
    color: #494d82;
    font-weight: 700;
    line-height: 2.86;
}

.today-text {
    color: #494d82;
    text-align: center;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.39;
}

input[type=checkbox] {
    &.open-checkbox {
        // display: none;
    }
}

.open-checkbox {
    font-family: 'Nanum Myeongjo', serif;
    background-color: #f8f1e3;
    color: #494d82;
    font-size: 14px;
    font-weight: 800;
}
.open-checkbox label:before {
    border-radius: 8px;
    -webkit-appearance: none;
    font-family: 'Nanum Myeongjo', serif;
    border: solid 1px #494d82;
    background-color: #f8f1e3;
    color: #494d82;
    font-size: 14px;
    font-weight: 800;
}
.checkbox .open-checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked {
    content: "글 공개하기";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}