@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

body {
    background-color: #f8f1e3;
    color: #333;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    // letter-spacing: 1.3px;
}


.page-container {
    margin: 117px 29px 29px 29px;
    @media screen and (min-width: 768px) {
        width: 617px;
        margin: 117px auto 0 auto;
    }
}

.menu-options {
    line-height: 1.39;
    margin-left: 35px;
    a {
        display: block;
        text-decoration: none;
        font-size: 18px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: justify;
        color: #494d82;
        margin-bottom: 15px
    }
}

.login {
    font-family: NanumMyeongjo;
    font-size: 14px;
    .login-text {
        color: #494d82;
        text-align: center;
    }
    .field {
        margin-bottom: 26px;
    }
    .user-input {
        margin-top: 56px;
        background-color: #494d82;
        color: #f8f1e3;
        padding: 35px 49px 35px 42px;
        border-radius: 10px;

        label {
            display: inline-block;
            width: 26%;
            // max-width: 120px;
        }
        input {
            display: inline-block;
            font-size: 14px;
            background-color: #494d82 !important;
            width: 68%;
            color: #f8f1e3;
            border: none;
            border-bottom: 0.9px solid #f8f1e3;
            &:focus { 
                outline: none !important;
                box-shadow: none;
            }
            &:-internal-autofill-selected {
                background-color: #494d82 !important;
            }
        }
    }
    input[type="password"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: NanumMyeongjo;
        color: #f8f1e3 !important;
        padding-left: 5px;
    }
    :-ms-input-placeholder {
        color: #f8f1e3 !important;
    }
    ::-ms-input-placeholder {
        color: #f8f1e3 !important;
    }
    .passward-warn {
        font-size: 11px;
    }
    .new-password {
        font-size: 11px;
    }
    .btn-wrapper {
        text-align: right;
        margin-right: 5px;
        margin-top: 44px;
    }
    .btn-signup {
        font-size: 14px;
        font-weight: 800;
        color: #494d82;
    }
}

.btn-submit {
    display: inline-block;
    border-radius: 12px;
    width: 71px;
    height: 24px;
    font-family: NanumMyeongjo;
    border: solid 1px #494d82;
    background-color: #f8f1e3;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: #494d82;
    margin-left: 22px;
}

.btn-submit-reverse {
    display: inline-block;
    border-radius: 12px;
    width: 97px;
    height: 24px;
    font-family: NanumMyeongjo;
    border: solid 1px #494d82;
    background-color: #f8f1e3;
    color: #494d82;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    margin-left: 22px;
}