.navigation-bar {
    padding: 28px 33px 23.5px 33px;
    background-color: #f8f1e3;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
}

.menu {
    position: fixed;
    left: 33px;
}

.btn-menu {
    padding: 2px;
    width: 22px;
}

.btn-menu-close {
    width: 20px;
}

.btn-refresh {
    width: 19px;
}

.name {
    width: 100%;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    font-weight: 800;
    color: #494d82;
}

.refresh {
    position: fixed;
    right: 33px;
}