.navigation-bar
  .menu
    = link_to image_tag("buttons/menu@3x.png", class: "btn-menu"), menu_path
  .refresh
    = link_to image_tag("buttons/refresh@3x.png", class: "btn-refresh"), menu_path
  .name
    공개된 편지